<h1>Listing laboratory_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Text</th>
  </tr>

<% @laboratory_profiles.each do |laboratory_profile| %>
  <tr>
    <td><%=h laboratory_profile.name %></td>
    <td><%=h laboratory_profile.text %></td>
    <td><%= link_to 'Show', laboratory_profile %></td>
    <td><%= link_to 'Edit', edit_laboratory_profile_path(laboratory_profile) %></td>
    <td><%= link_to 'Destroy', laboratory_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New laboratory_profile', new_laboratory_profile_path %>