
<h1>Consultation</h1>
<% if params[:record][:print_personal_data] %>
  <p>Weight:</p>
  <p><%= params[:record][:weight] %></p>
  <p>Height:</p>
  <p><%= params[:record][:height] %></p>
  <p>Head circumference:</p>
  <p><%= params[:record][:head_circumference] %></p>
  <p>Anterior fontanel:</p>
  <p><%= params[:record][:anterior_fontanel] %></p>
  <p>Temperature:</p>
  <p><%= params[:record][:temperature] %></p>
<% end %>

<% if params[:record][:print_current_condition] %>
  <p>Current condition:</p>
  <p><%= params[:record][:current_condition] %></p>
<% end %>

<% if params[:record][:print_diagnosis] %>
  <p>Diagnosis:</p>
  <p><%= params[:record][:diagnosis] %></p>
<% end %>

<% if params[:record][:print_medical_certificate] %>
  <p>Medical certificate:</p>
  <p><%= params[:record][:medical_certificate] %></p>
<% end %>

<% if params[:record][:print_recipe] %>
  <p>Recipe:</p>
  <p><%= params[:record][:recipe] %></p>
<% end %>

<% if params[:record][:print_order] %>
  <p>Order:</p>
  <p><%= params[:record][:order] %></p>
<% end %>

<% if params[:record][:print_laboratory] %>
  <p>Laboratory:</p>
  <p><%= params[:record][:laboratory] %></p>
<% end %>

<% if params[:record][:print_amount] %>
  <p>Amount:</p>
  <p><%= params[:record][:amount] %></p>
<% end %>


