<% url_options = params_for(:action => :print) -%>
<%=
  form_tag url_options,
    :onsubmit => onsubmit,
    :id => element_form_id(:action => :print),
    :multipart => active_scaffold_config.update.multipart?,
    :class => 'print',
    :method => :put
%>

<h4><%= @record.to_label.nil? ? active_scaffold_config.update.label : as_(:print_model, :model => clean_column_value(@record.to_label)) %></h4>

<div id="<%= element_messages_id(:action => :print) %>" class="messages-container">
  <% if request.xhr? -%>
    <%= error_messages_for :record, :object_name => @record.class.human_name.downcase %>
  <% else -%>
    <%= render :partial => 'form_messages' %>
  <% end -%>
</div>

<%= render :partial => 'print_form', :locals => { :columns => active_scaffold_config.update.columns } %>

<p class="form-footer">
  <%= submit_tag as_(:print), :class => "submit" %>
  <%= link_to as_(:cancel), main_path_to_return, :class => 'cancel' %>
  <%= loading_indicator_tag(:action => :print, :id => params[:id]) %>
</p>

</form>
<script type="text/javascript">
  Form.focusFirstElement('<%= element_form_id(:action => :print) -%>');
</script>
