
<html>
  <head>
    <meta http-equiv="Content-Type"
          content="text/html;charset=UTF-8" />
  </head>
  <body>
    <% if params[:print_current_condition] %>
      <div class="page">
        <h3>Condicion actual:</h3>
        <p> <strong>Paciente: </strong><%= @patient.first_name %> <%= @patient.last_name %></p>
        <p><%= params[:record][:current_condition] %></p>
      </div>
    <% end %>


    <% if params[:print_medical_certificate] %>
      <div class="page">
        <h3>Certificado medico:</h3>
        <p><%= @patient.first_name %> <%= @patient.last_name %></p>
        <p><strong>Peso: </strong><%= params[:record][:weight] %> kg. <strong>Talla: </strong><%= params[:record][:height] %> cm. <strong>Temperatura: </strong><%= params[:record][:temperature] %> C </p>
        <h3>Diagnostico:</h3>
        <p><%= params[:record][:diagnosis] %></p>
        <p><%= params[:record][:medical_certificate] %></p>
      </div>
    <% end %>




    <% if params[:print_recipe] %>
      <div class="page">
        <h3>Receta:</h3>
        <p><%= @patient.first_name %> <%= @patient.last_name %></p>
        <p><strong>Peso: </strong><%= params[:record][:weight] %> kg. <strong>Talla: </strong><%= params[:record][:height] %> cm. <strong>Temperatura: </strong><%= params[:record][:temperature] %> C </p>
        <h3>Diagnostico:</h3>
        <p><%= params[:record][:diagnosis] %></p>
        <p><%= params[:record][:recipe] %></p>
      </div>
    <% end %>

    <% if params[:print_order] %>
      <div class="page">
        <h3>Orden:</h3>
        <p><%= @patient.first_name %> <%= @patient.last_name %></p>
        <p><strong>Peso: </strong><%= params[:record][:weight] %> kg. <strong>Talla: </strong><%= params[:record][:height] %> cm. <strong>Temperatura: </strong><%= params[:record][:temperature] %> C </p>    <p><%= params[:record][:weight] %> kg.<%= params[:record][:height] %> cm. <%= params[:record][:temperature] %> C </p>
        <h3>Diagnostico:</h3>
        <p><%= params[:record][:diagnosis] %></p>
        <p><%= params[:record][:order] %></p>
      </div>
    <% end %>

    <% if params[:print_laboratory] %>
      <div class="page">
        <h3>Laboratorio:</h3>
        <p><%= @patient.first_name %> <%= @patient.last_name %></p>
        <p><strong>Peso: </strong><%= params[:record][:weight] %> kg. <strong>Talla: </strong><%= params[:record][:height] %> cm. <strong>Temperatura: </strong><%= params[:record][:temperature] %> C </p>    <p><%= params[:record][:weight] %> kg.<%= params[:record][:height] %> cm. <%= params[:record][:temperature] %> C </p>
        <h3>Diagnostico:</h3>
        <p><%= params[:record][:diagnosis] %></p>
        <p><%= params[:record][:laboratory] %></p>
      </div>
    <% end %>

  </body>
</html>