<%= debug params[:record]  %>

<h1>Consultation</h1>
<% if params[:record][:print_personal_data] == "on" %>
  <p>Weight:</p>
  <p><%= @consultation.weight %></p>
  <p>Height:</p>
  <p><%= @consultation.head_circumference %></p>
  <p>Head circumference:</p>
  <p><%= @consultation.head_circumference %></p>
  <p>Anterior fontanel:</p>
  <p><%= @consultation.anterior_fontanel %></p>
  <p>Temperature:</p>
  <p><%= @consultation.temperature %></p>
<% end %>

<% if params[:record][:print_current_condition] ==  "on" %>
  <p>Current condition:</p>
  <p><%= @consultation.current_condition %></p>
<% end %>

<% if params[:record][print_diagnosis] ==  on %>
  <p>Diagnosis:</p>
  <p><%= @consultation.diagnosis %></p>
<% end %>

<% if params[:record][:print_medical_certificate] ==  "on" %>
  <p>Medical certificate:</p>
  <p><%= @consultation.medical_certificate %></p>
<% end %>

<% if params[:record][:print_recipe] ==  "on" %>
  <p>Recipe:</p>
  <p><%= @consultation.recipe %></p>
<% end %>

<% if params[:record][:print_order] ==  "on" %>
  <p>Order:</p>
  <p><%= @consultation.order %></p>
<% end %>

<% if params[:record][:print_laboratory] ==  "on" %>
  <p>Laboratory:</p>
  <p><%= @consultation.laboratory %></p>
<% end %>

<% if params[:record][:print_amount] ==  "on" %>
  <p>Amount:</p>
  <p><%= @consultation.amount%></p>
<% end %>


