<% if params[:print_current_condition] %>
  <div class="page" >
    <p><%= @patient.first_name %> <%= @patient.last_name %></p>
    <p>Current condition:</p>
    <p><%= params[:record][:current_condition] %></p>
  </div>
<% end %>


<% if params[:print_medical_certificate] %>
  <div class="page">
    <p><%= @patient.first_name %> <%= @patient.last_name %></p>
    <p><%= params[:record][:weight] %> kg.<%= params[:record][:height] %> cm. <%= params[:record][:temperature] %> C </p>
    <p><%= params[:record][:diagnosis] %></p>
    <p><%= params[:record][:medical_certificate] %></p>
  </div>
<% end %>




<% if params[:print_recipe] %>
  <div class="page">
    <p><%= @patient.first_name %> <%= @patient.last_name %></p>
    <p><%= params[:record][:weight] %> kg.<%= params[:record][:height] %> cm. <%= params[:record][:temperature] %> C </p>
    <p><%= params[:record][:diagnosis] %></p>
    <p><%= params[:record][:recipe] %></p>
  </div>
<% end %>

<% if params[:print_order] %>
  <div class="page">
    <p><%= @patient.first_name %> <%= @patient.last_name %></p>
    <p><%= params[:record][:weight] %> kg.<%= params[:record][:height] %> cm. <%= params[:record][:temperature] %> C </p>
    <p><%= params[:record][:diagnosis] %></p>
    <p><%= params[:record][:order] %></p>
  </div>
<% end %>

<% if params[:print_laboratory] %>
  <div class="page">
    <p><%= @patient.first_name %> <%= @patient.last_name %></p>
    <p><%= params[:record][:weight] %> kg.<%= params[:record][:height] %> cm. <%= params[:record][:temperature] %> C </p>
    <p><%= params[:record][:diagnosis] %></p>
    <p><%= params[:record][:laboratory] %></p>
  </div>
<% end %>