<h1>Listing phone_numbers</h1>

<table>
  <tr>
    <th>Numer</th>
  </tr>

<% @phone_numbers.each do |phone_number| %>
  <tr>
    <td><%=h phone_number.numer %></td>
    <td><%= link_to 'Show', phone_number %></td>
    <td><%= link_to 'Edit', edit_phone_number_path(phone_number) %></td>
    <td><%= link_to 'Destroy', phone_number, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New phone_number', new_phone_number_path %>