<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title or 'Pediatria' %></title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= record_select_includes %>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
  <![endif]-->
</head>
<body>
  <% unless params[:must_close] %>
    <%= image_tag 'logo.png', :id => 'logo' %>
    <div id="nav_container">
      <ul id="nav">
        <li><%= link_to 'Patients', :controller => 'Patients' %></li>
        <li><%= link_to 'Places', :controller => 'places' %></li>
        <li><%= link_to 'Consultation prices', :controller => 'consultation_prices' %></li>
        <li><%= link_to 'Laboratory profiles', :controller => 'laboratory_profiles' %></li>
        <li><%= link_to 'Medical certificates' %></li>
        <li><%= link_to 'Vaccines' %></li>
        <li><%= link_to 'Drugs' %></li>
      </ul>
    </div>
  <% end %>
  
<%= yield %>

</body>
</html>
