<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @title or 'Pediatria' %></title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
    <%= record_select_includes %>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
    <![endif]-->
  </head>
  <body>
    <% unless params[:must_close] %>
      <div id="birthdays" style="height: 210px; width: 30%; float: left; overflow: scroll;">
        <h3 style="width: 80%">Cumpleañeros:</h3>
        <ul id="birthdays" style="width: 80%">
          <% Patient.find_birthdays.each do |birth| %>
            <li>
              <% month =  as_(:month_names, :scope => [:date])[birth.date_of_birth.month] unless birth.date_of_birth.month.blank?%>
              <%= "#{birth.first_name}: #{birth.date_of_birth.day} de #{month}" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div style="width: 33%; float: left;">
        <%= image_tag 'logo.png', :id => 'logo' %>
      </div>
      <div style="width: 33%; float: left;"></div>
      <div id="nav_container">
        <%= render :partial => "layouts/menu.html" %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
